body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

form {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

input, button {
    width: 200px;
}
